@using Microsoft.AspNetCore.Identity
@inject SignInManager<Restourant.Data.User.ApplicationUser> SignInManager
@inject UserManager<Restourant.Data.User.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="List">Tables</a>
        </li>

    }
    @if (User.IsInRole("admin"))
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="List">Drinks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Foods" asp-action="List">Foods</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Add User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Tables" asp-action="Add">Add Table</a>
        </li>
    }
</ul>
