@model Restourant.Models.Tables.OrderTableViewModel
@{
    string test = String.Empty;
}

<table>
    <tr sstyle="text-align:left">
        <th style="color:grey">
            Name
        </th>
        <th style="color:grey">
           Price
        </th>
        <partial name="_OrdersPartial" />
    </tr>
</table>
