@model Restourant.Models.Tables.OrderTableViewModel
@{
    string test = String.Empty;
}

<table>
    <tr sstyle="text-align:left">
        <th style="color:grey">
            <p id="bill"></p>
            Name    Price    OrderTimes
            <p id="orders"></p>
        </th>      

        <partial name="_OrdersPartial" />
    </tr>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    let ordersText = '';
    let billText = '';
    $.get('/api/table?id=' + @Model.Id, (data) => {

        billText += '<h3> Bill=' + data.bill + '</h3>';
        document.getElementById("bill").innerHTML = billText;
        for (let i = 0; i < data.drinksOrdered.length; i++)
        {

            ordersText += '<li>' + data.drinksOrdered[i].name + '   ' + data.drinksOrdered[i].price + '   '+data.drinksOrdered[i].orderTimes + '</li>';
            + '</li>';
        }       
        for (let i = 0; i < data.foodsOrdered.length; i++)
        {

            ordersText += '<li>' + data.foodsOrdered[i].name + '   ' + data.foodsOrdered[i].price + '   '+data.foodsOrdered[i].orderTimes + '</li>';
            + '</li>';
        }
        
        document.getElementById("orders").innerHTML = ordersText;

        });
    document.getElementById("orders").innerHTML = ordersText;



</script>
